@import url(https://fonts.bunny.net/css?family=calligraffitti:400);

.card {
    text-align: center;
    font-family: 'Calligraffitti', handwriting;
    margin: 5%;
    color: white;
}

img {
    border-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    transition: border-top-right-radius 1s, border-bottom-left-radius 1s;
}
img:hover {
    border-top-right-radius: 5em;
    border-bottom-left-radius: 5em;
    transition: border-top-right-radius 1s, border-bottom-left-radius 1s;
}