@import url(https://fonts.bunny.net/css?family=calligraffitti:400);

body {
    background-color: rgb(20, 13, 0);
}
h1 {
    font-family: 'calligraffitti', handwriting;
}
a {
    padding: 1%;
    margin: 6rem;
    margin-top: 3rem;
    border-radius: 1rem;

    background-color: rgba(255, 210, 180, 0);
    color:rgb(255, 249, 234);
    text-decoration: none;
    font-weight: 800;
transition: margin-top 1s, background-color 0.5s ease-in-out, color 1s, padding 1s, border-radius 1s;
} a:hover {
    background-color: rgba(255, 210, 180, 0.5);
    color:#ffffff;
    padding: 2%;
    margin-top: 3.5rem;
    border-radius: 0rem;
}

.hero {
    background-color: rgba(255, 90, 118, 0.375);
    background-image: url('./fleurs.png');
    background-blend-mode:color;
    background-position-y: 15%;
    color: white;
    margin: 0%;
    padding: 8%;
    padding-top: 15em;
    padding-bottom: 10em;
    border-radius: 0.5rem;
    text-align: center;
    font-family: 'Calligraffitti', handwriting;
    transition: border-radius 2s, margin-left 2s, margin-right 2s, padding 2s ease-in-out, background-position-y 3s;
}.hero:hover {
    border-radius: 20em;
    margin-right: 2%;
    margin-left: 2%;
    padding: 10%;
    background-position-y: 12%;
    transition: border-radius 3s, margin-left 3s, margin-right 2s, padding 2s ease-in-out, background-position-y 3s;
} .hero > p {
    font-weight: 800;
    word-spacing: 10%;
}
